---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const articles = await getCollection("blog");
---

<Layout title="Ayitinya's Blog - Home">
  <section class="flex gap-2 py-10">
    <div
      class="grow-0 md:shrink-0 md:basis-2/3 prose dark:prose-invert max-w-none"
    >
      <h1 class="text-4xl font-bold">Hello, I'm Ayitinya</h1>
      <p class="text-xl font-light">
        I'm a software engineer and a web developer. I love to build things that
        are useful and solve problems. I also love to write about my experiences
        and share them with the world. I'm currently working on a few projects
        and I'm also learning new things everyday. I'm also a huge fan of open
        source and I love to contribute to open source projects. Checkout my
        articles below and if you want to know more about me, checkout my about
        page.
      </p>
    </div>
    <div class="grow-0"></div>
  </section>

  <section class="py-10">
    <h2 class="text-2xl font-bold my-4">Recent Articles</h2>
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      {
        articles
          .sort((a, b) => b.data.id - a.data.id)
          .map((article) => (
            <Card
              title={article.data.title}
              description={article.data.description}
              url={`/articles/${article.slug}`}
              date={new Date(article.data.date).toDateString()}
            />
          )).slice(0, 3)
      }
    </ol>
    <a href="/articles" class="text-center border p-2 rounded"
      >View all articles</a
    >
  </section>
</Layout>
